<h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200"></h2>
<div class="w-full">
  <% if notice.present? %>
    <p
      class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block"
      id="notice">
      <%= notice %>
    </p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Users</h1>
    <%= link_to 'New user', new_user_path, class: "rounded-lg py-3 px-5 text-white block font-medium text-white
        transition-colors duration-150 bg-purple-600 border border-transparent
        rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none
        focus:shadow-outline-purple" %>
  </div>
  <%# Dashboard/Table %>
  <%= render "shared/dashboard_table" %>
</div>
