<h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
  Dashboard
</h2>

<%# Dashboard/nav %>
<%= render 'shared/dashboard_nav', user: @total_wallets_balance  %>

<%# Dashboard/Table %>
<%= render  "shared/dashboard_table" %>